* {
  box-sizing: border-box;

}

h1 {
  margin-bottom: 15px;
  text-align: center;
  size: 175%;
}

p {
  padding: 10px;
  padding-top: 16px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  padding: 10px;

}

section {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: auto;
  background-color: #00FF00;
  border: 1px solid black;


}

#title1 {
    border: 1px solid black;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: Helvetica,serif;
    font-weight: bold;
    font-size: 125%; 
    background-color: #00AA55;

}
#title2 {
    border: 1px solid black;
    text-align: center;
    position: absolute;
    font-family: Hel
    top: 0px;
    right: 0px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: Helvetica,serif;
    font-weight: bold;
    font-size: 125%;
    background-color: #00AA99;

}
#title3 {
    border: 1px solid black;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: Helvetica,serif;
    font-weight: bold;
    font-size: 125%;    
    color: #FFFFFF; 
    background-color: #CC0011;

}

.row {
  width: 100%;
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-sd-1, .col-sd-2, .col-sd-3, .col-sd-4, .col-sd-5, .col-sd-6, .col-sd-7, .col-sd-8, .col-sd-9, .col-sd-10, .col-sd-11, .col-sd-12 {
    float: left;
  }
  .col-sd-1 {
    width: 8.33%;
  }
  .col-sd-2 {
    width: 16.66%;
  }
  .col-sd-3 {
    width: 25%;
  }
  .col-sd-4 {
    width: 33.33%;
  }
  .col-sd-5 {
    width: 41.66%;
  }
  .col-sd-6 {
    width: 50%;
  }
  .col-sd-7 {
    width: 58.33%;
  }
  .col-sd-8 {
    width: 66.66%;
  }
  .col-sd-9 {
    width: 74.99%;
  }
  .col-sd-10 {
    width: 83.33%;
  }
  .col-sd-11 {
    width: 91.66%;
  }
  .col-sd-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-xsd-1, .col-xsd-2, .col-xsd-3, .col-xsd-4, .col-xsd-5, .col-xsd-6, .col-sd-7, .col-xsd-8, .col-xsd-9, .col-xsd-10, .col-xsd-11, .col-xsd-12 {
    float: left;
  }
  .col-xsd-1 {
    width: 8.33%;
  }
  .col-xsd-2 {
    width: 16.66%;
  }
  .col-xsd-3 {
    width: 25%;
  }
  .col-xsd-4 {
    width: 33.33%;
  }
  .col-xsd-5 {
    width: 41.66%;
  }
  .col-xsd-6 {
    width: 50%;
  }
  .col-xsd-7 {
    width: 58.33%;
  }
  .col-xsd-8 {
    width: 66.66%;
  }
  .col-xsd-9 {
    width: 74.99%;
  }
  .col-xsd-10 {
    width: 83.33%;
  }
  .col-xsd-11 {
    width: 91.66%;
  }
  .col-xsd-12 {
    width: 100%;
  }
}